.activity_column {
    width: 100%;
    height: calc((100%) / 24.5);
    position: relative;
}

.activity_column_container_horizontal .activity_column {
    width: 100%;
    max-width: unset;
    height: 100%;
    position: relative;
}

.activity_column :first-child{
    position: absolute;
    bottom: -50%;
    width: 100%;
}

.activity_column img{
    user-select: none;
    display: block;
    width: 100%;
}

.light-column {
    display: none;
    visibility: hidden;
}

body.theme_light .light {
    visibility: unset !important;
    display: block !important;
}
